#periodstartAoUinput, #periodendAoUinput {
    width: 225px;
    border-color: #d9d9d9 #ccc #b3b3b3;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: #333;
    cursor: default;
    border-spacing: 0;
    border-collapse: separate;
    height: 36px;
    padding-left: 10px;
    padding-right: 10px;
}