 #mainDivHeight {
    min-height: calc(100vh - 486px);
 }
 .main-nav1 {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    table-layout: fixed;
    overflow: hidden
}

.main-nav1 li {
    display: table-cell;
    *float: left; /* improve IE7 */
    height: 25px;
    text-align: center;
}

span:hover {
    text-decoration: none;
}

span#link1:hover, span#link2:hover {
    font-weight: bold;
    letter-spacing: 1px;
}

.main-nav1 li {
    border: .001rem solid rgba(255, 255, 255, 0.1);
}

.btn-custom {
    color: white;
    border-radius: 0%;
    border: 2px 1px 2px 1px solid #adc9ff;
  }

  #navbarAdmin {
      padding: 0px;
  }
