.logo{
    max-height: 3em;
    width: auto;
}

li.btn-custom {
    color: white;
    border-radius: 0%;
    border: .001rem solid rgba(255, 255, 255, 0.1);
    background-color:#74b8ff;
}

li.btn-custom:hover {
    background-color: #49A2FF;
}

a:link, a:visited {
    color:white;
}

#link-custom{
    height: 100%;
}

.navbar-custom {
    color: white;
    background-color:#74B8FF;
    align-items: stretch;
}

.navbar .navbar-custom  {
    width: 100%;
}

.navbar-toggler-icon{
    width: 1.5em;
    height: 1.5em;
}

.navbar-toggler span {
    display: block;
    width: 1.2em;
    height: .085em;
    left: 0;
    background: #fff;
    margin: .45rem 0rem;
}

.navbar-toggler span.shorter-line {
    width: .75em;
}

.nav-item a#link-custom {
    padding-top: 1rem;
    padding-bottom: 0.6rem;
}
