#allergilist{
    border:none;
    border-bottom: 2px solid #adc9ff;
  }

div#allergilist.list-group-item:last-child {
     border-bottom: none;
}

#diseaselistitem{
    border:none;
    border-bottom: 2px solid #adc9ff;
}

#diseaselist{
    padding: 0px;
}

.diseaseelement{
  cursor: pointer;
  border-radius: 0%;
}

.card-img-top{
  width: 100%;
  height: auto;
}
   