#allergilist{
    border:none;
    border-bottom: 2px solid #adc9ff;
   }
div#allergilist.list-group-item:last-child {
     border-bottom: none;
   }

.card-img-top{
  width: 100%;
  height: auto;
}
   