div#professions, div#doctors {
    padding-left: 15px;
}

.list-group-item p {
    margin: 0;
    margin-right: 1em;
    padding: 0;
    display: inline;
}

#tableProf, #tableDoc {
    box-shadow: 5px 10px 18px #888888;
}

#tablesBlock {
    margin-right: 3em;
}

#nameProf, #nameDoc {
    margin-left: 5px;
    width:inherit;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}

#tableProf #listProf .active,
#tableDoc #listDoc .active {
    border-color: #DCDCDC;
    background-color: #DCDCDC;
    color: white;
}