.professionrow{
    background-color: white;
    border-radius: 5px;
    border: 2px solid #adc9ff;
    text-align: start;
    margin-right: 0%;
    min-height: 40px;
    height:  auto; 
    word-wrap: break-word; 
  }

  #AddRate {
    background-color: #007bff;
    color: white;
    height: 40px;
    width: 100px;
    white-space: nowrap; 
    width: inherit; 
    overflow: hidden;
    text-overflow: ellipsis; 
  }