#datepicker{
    text-align: center;
  padding: 20px;
  font-family: sans-serif;
  }
  .react-datepicker-wrapper{
    text-align: center;
  }
  #reportDiv{
     
  left:2vw;
  }
  #patientInfoMain{
    float:left;
    position: relative;
    left:2vw;
    }

    div.react-datepicker__input-container > input {
      background-image: url(../images/calendar.png);
      background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: right center;
    background-origin: content-box;
    padding-left: 10px;
    padding-right: 5px;  
    }
    #name{
      color: white;
      font-style: italic;
      text-shadow: black 2px 2px 2px;
    } 
     .salarybutton{
      width: 8em;
    }
    .monthInfoButton {
      float: left;
    }
    .border-style{
      padding: 10px;
      border: 3px solid #bdb4b47a;
    }
    .top{
      border-top:none;
    }
    #collapse-style{
      width: 90%;
      margin-left: 5%;
      padding-left: 1.5%;
    }
    .header{
      color: white;
      font-style: italic;
      text-shadow: black 2px 2px 2px;
    }
    .month{
      padding-left: 1.5%;
       } 
#multiCollapseExample{
       -webkit-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}