/* 
      .Select-value {
        position: relative;
        display: inline-block;
      }


      .Select-input {
        display: inline-block;
        vertical-align: top;
        padding-left: 0px;
      }
     */