App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.modal-header {
  border-bottom: none;
}

.modal-backdrop {
  background-color:#66b3ff;
}

.modal-content {
  background-color:#cce6ff;
}

.modal-footer {
  border-top: none;
}

.list-group-item-custom {
  background-color:#cce6ff;
}

.invalid-tooltip {
  visibility: hidden;
}

.invalid-feedback {
  visibility: hidden;
}

#inputFName:hover #invalidFname {
  visibility:visible;
}

#inputLName:hover #invalidLname {
  visibility:visible;
}

#inputEmail:hover #invalidEmail {
  visibility:visible;
}

#inputPassword:hover #invalidPassword {
  visibility:visible;
}

.form-control:focus, input:focus{
  outline: none;
}

#invalidFname, #invalidLname, #invalidPhone, #invalidEmail, #invalidPassword, #invalidConfirmPassword {
  font-size: 14px;
}
  
.labelForm {
  /*letter-spacing: 1px;*/
  margin-bottom: 0;
  margin-top: 0.5em;
}
#editInfoWindow {
  background-color: white;
  border-radius: 10px;
  border: 2px solid #adc9ff;
  text-align: start;
  padding: 2%;
}

#editUserInfoHeader {
  display: flex;
}

#basicInfoID, #sexButtonWindow {
  padding: 0;
}

.marginTop35px {
  margin-top: 35px;
}

.marginTop10px {
  margin-top: 10px;
}

.padding {
  padding: 0 !important;
}

.navbarForm {
  width: 100%;
}

div.profDocTable:hover {
  background-color: #E3E3E3;
  cursor: pointer;
<<<<<<< HEAD
}

.logo{
 max-height: 3em;
 width: auto;
}

.btn-custom {
  color: white;
  border-radius: 0%;
  border: 2px 1px 2px 1px solid #adc9ff;
}

.btn-custom :hover {
  background-color:#80bfff;
}

ul li a {
  color: white;
}
ul li a :hover {
  color: white;
}
#shaddow{
  text-shadow: 2px 2px 4px #000000;
  color:red;
}
=======
}
>>>>>>> fd1a3aac1ae37a860eb64c3267ac7c3eb9fe919c
