App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.modal-header {
  border-bottom: none;
}

.modal-backdrop {
  background-color:#66b3ff;
}

.modal-content {
  background-color:#cce6ff;
}

.modal-footer {
  border-top: none;
}

.list-group-item-custom {
  background-color:#cce6ff;
}

.invalid-tooltip {
  visibility: hidden;
}

.invalid-feedback {
  visibility: hidden;
}

#inputFName:hover #invalidFname {
  visibility:visible;
}

#inputLName:hover #invalidLname {
  visibility:visible;
}

#inputEmail:hover #invalidEmail {
  visibility:visible;
}

#inputPassword:hover #invalidPassword {
  visibility:visible;
}

.form-control:focus, input:focus{
  outline: none;
}

#invalidFname, #invalidLname, #invalidPhone, #invalidEmail, #invalidPassword, #invalidConfirmPassword {
  font-size: 14px;
}
  
.labelForm {
  /*letter-spacing: 1px;*/
  margin-bottom: 0;
  margin-top: 0.5em;
}
#editInfoWindow {
  background-color: white;
  border-radius: 10px;
  border: 2px solid #adc9ff;
  text-align: start;
  padding: 2%;
}

#editUserInfoHeader {
  display: flex;
}

#basicInfoID, #sexButtonWindow {
  padding: 0;
}

.marginTop35px {
  margin-top: 35px;
}

.marginTop10px {
  margin-top: 10px;
}

.padding {
  padding: 0 !important;
}

.navbarForm {
  width: 100%;
}

div.profDocTable:hover {
  background-color: #E3E3E3;
  cursor: pointer;
}


.btn-custom {
  color: white;
  border-radius: 0%;
  border: 2px 1px 2px 1px solid #adc9ff;
}


#shaddow{
  text-shadow: 2px 2px 2px #000000;
  color:red;
}

#adminMainDiv  {
  min-height: calc(100vh - 486px);
}

#editMainDiv {
  min-height: calc(100vh - 486px);
}

#mainDiv {
  min-height: calc(100vh - 486px);
}

#patientInfoMain{
  float:left;
  position: relative;
  left:2vw;
  }
.fa-heart{
  position:relative;
  left:40%;
  padding-top:5px;
}
#patientcard{
  background-color: white;
  border-radius: 5px;
  border: 2px solid #adc9ff;
  text-align: start;
  margin-right: 0%;
  min-height: 40px;
  height:  auto; 
  word-wrap: break-word;
  
}
#col-custom{
  border-right:2px solid #adc9ff;
  height: auto;
}
#col-head{
  height: auto;
}
#buttonCancelForMessage {
  display: none;
border: 2px solid #adc9ff;
background: #17a2b8;;
text-align: center;
width: 40%;
position: relative;
right: -30%;
margin-bottom: 10px;
font-size: 1.25rem;
line-height: 1.5;
border-radius: .3rem;
}

#textOutp{
font-weight: bold;
text-align: center;
padding: 20px;
font-size: 1.25rem;
font-family: sans-serif;
}
#allergilist{
 border:none;
 border-bottom: 2px solid #adc9ff;
}
.min-height{
  min-height: calc(100vh - 501px);
}
#datepicker{
  text-align: center;
padding: 20px;
font-family: sans-serif;
}
.react-datepicker-wrapper{
  text-align: center;
}